<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        <table border="2" align="center">
            {% csrf_token %}
            <tr>
                <td colspan="2" ><img src="{{Manager.manager_photo.url}}" height="300px" width="200"></td>
            </tr>
            <tr>
                <td>Name</td>
                <td>{{Manager.manager_name}}</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>{{Manager.manager_email}}</td>
            </tr>
            <tr>
                <td>Contact</td>
                <td>{{Manager.manager_contact}}</td>
            </tr>
            <tr>
                <td><a href="{% url 'Manager:EditProfile' %}">Edit Profile</a></td>
                <td><a href="{% url 'Manager:ChangePass' %}">Change Password</a></td>
            </tr>
        </table>
    </form>
</body>
</html>